@import "~/assets/scss/library/_variable.scss";

@mixin desktop(){
  @media(min-width: 768px){
    @content
  }
}

@mixin p-padding {
  padding: 30px 0 40px;
  @include desktop {
    padding: 40px 0 60px;
  }
}

@mixin c-btn(){
  display: inline-block;
  border-radius: 9999px;
  padding: 10px 8px;
  min-width: 265px;
  margin: 1rem;
  text-decoration: none;
  text-align: center;
  color: white;
  position: relative;
  overflow: hidden;
  background: $clr_bgGradation;
  transition: all .65s ease;
  &:before {
    content: "";
    position: absolute;
    top: -70px;
    bottom: -50px;
    left: -20px;
    right: -50px;
    width: 10px;
    height: 10px;
    background: rgba(255,255,255,.9);
    border-radius: 50%;
    transition: all .65s ease;
  }
  span {
    position: relative;
  }
  &:hover, &:focus {
    color: $clr_baseText;
    font-weight: bold;
    outline: none;
    i {
      color: white;
    }
    &:before {
      width: 300px;
      height: 300px;
      opacity: 1;
    }
  }
}

@mixin c-btn--white {
  display: inline-block;
  border-radius: 9999px;
  padding: 10px 8px;
  min-width: 265px;
  margin: 1rem;
  text-decoration: none;
  text-align: center;
  color: $clr_baseText;
  position: relative;
  overflow: hidden;
  background: white;
  transition: all .65s ease;
  &:before {
    content: "";
    position: absolute;
    top: -70px;
    bottom: -50px;
    left: -20px;
    right: -50px;
    width: 10px;
    height: 10px;
    background: $clr_bgGradation;
    border-radius: 50%;
    transition: all .65s ease;
  }
  span {
    position: relative;
  }
  &:hover, &:focus {
    color: white;
    font-weight: bold;
    outline: none;
    &:before {
      width: 300px;
      height: 300px;
      opacity: 1;
    }
  }
}
@mixin c-btn--outline {
  border: 2px solid white;
  display: inline-block;
  border-radius: 9999px;
  padding: 10px 8px;
  min-width: 240px;
  margin: 1rem;
  text-decoration: none;
  text-align: center;
  color: white;
  position: relative;
  overflow: hidden;
  background: transparent;
  transition: all .65s ease;
  &:before {
    content: "";
    position: absolute;
    top: -70px;
    bottom: -50px;
    left: -20px;
    right: -50px;
    width: 10px;
    height: 10px;
    background: $clr_bgGradation;
    border-radius: 50%;
    transition: all .65s ease;
  }
  span {
    position: relative;
  }
  i {
    display: inline-block;
    font-size: 2.1rem;
    margin-right: .5em;
    position: relative;
    z-index: 10;
  }
  &:hover, &:focus {
    outline: none;
    &:before {
      width: 300px;
      height: 300px;
      opacity: 1;
    }
  }
}

@mixin title {
  margin-bottom: 30px;
  font-size: 4rem;
  font-family: 'Limelight', cursive, serif;
}

@mixin c-block{
  .c-block {
    display: inline-block;
    box-sizing: border-box;
    border-radius: 0 9999px 9999px 0;
    padding: 70px 60px;
    padding-right: 100px;
    width: 100%;
    color: $clr_baseText;
    background: white;

    .title {
      margin-bottom: 30px;
      font-size: 4rem;
      font-family: 'Limelight', cursive, serif;

    }
    .description {
      margin-bottom: 20px;

    }

    @include desktop {
      width: 768px;
    }
  }
}
@mixin c-block--outline{
  .c-block {
    display: inline-block;
    box-sizing: border-box;
    border-radius: 9999px 0 0 9999px;
    border: 2px solid white;
    padding: 70px 60px;
    padding-left: 100px;
    width: 100%;
    text-align: left;
    color: white;
    background: rgba(0,0,0,.1);

    @include desktop {
      width: 768px;
    }

    .title {
      @include title;

    }
    .description {
      margin-bottom: 30px;
    }
  }
}


