@import "~/assets/scss/_library.scss";
@import "~~/node_modules/bootstrap/dist/css/bootstrap.css";

:root{
  font-size: 62.5%; /*base10px*/
  font-family: YuGothic,'Yu Gothic','メイリオ','Hiragino Sans','ヒラギノ角ゴシック', Meiryo,'ＭＳ Ｐゴシック','MS PGothic',sans-serif;
  color: $clr_baseText;
}

html{
  background: $clr_footer;
}

body, html, main {
  height: 100%;
}

*{
  color: inherit;
  font-size: 1.6rem;
  line-height: 1.8;
  @include desktop {
    font-size: 1.8rem;
    line-height: 2;
  }
}

::selection {
  background: rgba(113,113,119,0.8);
}

img {
  vertical-align: top;
}

a {
  color: #7171c7;
}
.p-container {
  padding: 0 20px;
  margin: 0 auto;
  max-width: 980px;
}

.c-container {
  margin: 0 auto;
  max-width: 980px;
}
